:root{ /*PADRÔES DE COISAS*/
    --cor-botão: aqua;
    --fonte-padrão: Comic Sans MS;
    --cor-fundo-das-paginas: #1a0033;

}



header, footer{
    font-family: var(--fonte-padrão);
    text-align: center;
    margin: 0;
    padding: 0;
}
header{
    font-size: 30px;
}

body{
    background-color: var(--cor-fundo-das-paginas);
    color: white
}

.container-input-botao{
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center;     /* alinha verticalmente */
    gap: 10px;               /* espaço entre eles */
}

.imput_botão{
    border: 2px solid #fffefe;
    border-radius: 50px;  /* arredondado */
    padding: 10px 10px;
    cursor: pointer;
    font-family: var(--fonte-padrão)
}

button:hover{
    background-color: var(--cor-botão);
    transform: translateY(5px);
}
input:hover{
    background-color: var(--cor-botão);
}


#Titulop0{
    display: block;
    border: 1px solid #333;
    border-radius: 200px;  /* arredondado */
    padding: 10px 10px;
    font-family: var(--fonte-padrão);

}

footer{
    font-size: 9px
}