:root{
    --cor-Botãos : aqua;
    --fonte-padrão: Comic Sans MS
}




header, footer{
    font-family: var(--fonte-padrão);
    text-align: center;
    margin: 0;
    padding: 0;
}
header{
    font-size: 30px;
}

body{
    background-color:#1a0033;
    color: white
}
#imput_botão{
    display: block;
    margin: auto;
    border: 2px solid #333;
    border-radius: 50px;  /* arredondado */
    padding: 10px 10px;
    cursor: pointer;
    font-family: var(--fonte-padrão)
}

#Titulop0{
    display: block;
    margin: auto;
    border: 2px solid #333;
    border-radius: 50px;  /* arredondado */
    padding: 10px 10px;
    cursor: pointer;
    font-family: var(--fonte-padrão)
}
button:hover{
    background-color: var(--cor-Botãos);
    transform: translateY(5px);
}
input:hover{
    background-color: var(--cor-Botãos);
}
footer{
    font-size: 9px
}