body{
    background-image: url(../img/tela_f-jogos.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Centaur Now Caption;
}

.logo{
    border: none;
    background: transparent;
    cursor: pointer;
    background-color: #ffffff00;

}

.logo img{
    width: 225px;
    height: auto;

    top: 1px;
    left: 1px;
    position: absolute;
}

#tela img{
    position: absolute;
    left: 225px;
    top: 25px;

}

.imagem{
    width: 800px;
    justify-items: center;
}

.jogo img{
    width: 250px;
    height: auto;
}

.jogo button, a{
    border: none;
    position: absolute;
    left: 100px;
    background: transparent;
    cursor: pointer;
    left: 212px;
    top: 50px;
}
