body{ 
    background-image: url(../img/tela_f-jogos.jpeg);/*Imagem de fundo*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Centaur Now Caption;
}

.logo{
    border: none;
    background: transparent;
    cursor: pointer;
}

.botão{
    border: none;
    background: transparent;
    cursor: pointer;
}

.logo img{
    width: 225px;
    height: auto;
    position: absolute;
    top: 1px;
    left: 1px;
}


.menu_jogo{
    width: 850px;
    height: auto;

    position: absolute;
    left: 225px;
    z-index: 0;
}

#seta{
    width: 70px;
    height: auto;

    position: absolute;
    top: 470px;
    left: 760px;
}

#jogo{
    width: 300px;
    height: auto;

    position: absolute;
    top: 150px;
    left: 650px;
}

.localizacao_sumario{
    position: absolute;
    left: 400px;
    top: 100px;
    z-index: 2;
    text-decoration: underline;
}

.localizacao_sumario h1{
    text-align: center;
}

.botão_sumario{
    align-items: center;
    ;
}