:root{
    --fonte_principal: Trajan Pro; 
}

header{
    background-color: #00040C;
    text-align: center;
    font-size: 250px;
}

.logo{
    width: 425px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}


body{
    background-image: url("../img/Imagem_inicial.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}