body{
    background-image: url(../img/img-q.matematico/img_f-q.matematico.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    font-family: "Centaur Now Caption";
    color: white;
}

.logo{
    border: none;
    background: transparent;
    cursor: pointer;
}
.logo img{
    width: 225px;
    height: auto;
    position: absolute;
    top: 1px;
    left: 1px;
}
.botão{
    border: none;
    background: transparent;
    cursor: pointer;
}
#local-perguntas{
    position: absolute;
    width: 550px;
    left: 530px;
}

body{
    text-align: center;
}