body{
        background-image: url(../img/tela_f-quiz_matematico.png);/*Imagem de fundo*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Centaur Now Caption;
}