
header{
    background-color: #00000000;
    text-align: center;
    font-size: 150px;
}

.container-input-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 800px;
}

.container-input-botao img{
    width: 450px;
    height: 400px;
    position: relative;
}

.formulario{
    position: absolute;
        

}


input{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

.formulario a{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

p{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

button:hover, input:hover {
    background-color: #fee29a;
    cursor: pointer;
}

input{
    border-radius: 9px;
    font-family: Centaur Now Caption;
}    

button{
    border-radius: 9px;
    font-size: 20px;
    font-family: Centaur Now Caption;
}

.logo{
    border: none;
    background: transparent;
    cursor: pointer
}

.logo img{
    width: 225px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}



body{
    background-image: url("../img/tela_f-inicio.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Centaur Now Caption;
}