/*===========================
       VIDEO QUE FICA  
      EM LOOP NO FUNDO
===========================*/
.fundo-inicio { /*ARUUMA O VIDEO NO FUNDO DA IMAGEM*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;

  z-index: -1;          /* fica atrás de tudo */
  pointer-events: none; /* NÃO permite interação */
  user-select: none;    /* não permite seleção */

  color: white;
  
}
/*===========================
      IMAGEM E INFORMAÇÕES  
        DURANTE O JOGO
===========================*/
.local-perguntas-alternativas{ /*IMAGEM ONDE FICA AS PERGUTAS, ALTERNATIVAS*/
    position: absolute;
    left: 520px;
    top: 90px;
}

.inicio-jogo{
    left: 620px;
}

.meio-jogo{
    left: 650px;
}

.final-jogo{
    left: 690px;
}

.inicio-jogo,
.meio-jogo,
.final-jogo{
    top: 150px;
    position: absolute;
    text-align: center;
}
/*===========================
          RESPOSTA
       CERTA OU ERRADA
===========================*/

#mensagem{
    
    font-size: 50px;
}