:root{
    --fonte_principal: Trajan Pro; 
}

header{
    /*background-image: url("../img/logo_site.png");*/
    width: 120px;
    height: auto;
}

/*body{
    background-image: url("../img/Imagem_inicial.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}*/